
{% extends "base_menu.html" %}

{% block content %}
  <h1>Cat List</h1>
  {% if cat_list %}
  <ul>
    {% for auto in cat_list %}
      <li>
          {{ auto.nickname }} ({{ auto.breed }})
          (<a href="{% url 'cats:auto_update' auto.id %}">Update</a> |
          <a href="{% url 'cats:auto_delete' auto.id %}">Delete</a>) <br/>
          {{ auto.comments }} ({{ auto.mileage }} miles)
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no cats in the library.</p>
  {% endif %}
  <p>
    {% if make_count > 0 %}
      <a href="{% url 'cats:auto_create' %}">Add a cat</a>
    {% else %}
      Please add a breed before you add an cat.
    {% endif %}
  </p>
  <p>
  <a href="{% url 'cats:make_list' %}">View breeds</a> ({{ make_count }}) | 
    <a href="{% url 'cats:make_create' %}">Add a breed</a>
  </p>
{% endblock %}
